<%= form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :participant_id %><br />
    <%= f.text_field :participant_id %>
  </div>
  <div class="field">
    <%= f.label :connectedparticipant_id %><br />
    <%= f.text_field :connected_participant_id %>
  </div>
  <div class="field">
    <%= f.label :meeting_id %><br />
    <%= f.text_field :meeting_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
