#information{:class => "information_show"}

	- flash.each do |key, msg|
		.notification{:class => key}
			- if key == "error"
				%span.icon !
			- else
				%span.icon 2
			
			.close.icon *
			= msg

	.title
		%h2 La Red Meeting
		%h3 14 september 2010
		%small= #{}"(#{@meeting.participants.count})"
		%input{:placeholder => "Zoek...", :type => "text"}/
	
	%h2= @meeting.title
	%p= @meeting.description

	- if @current_participant
		= link_to 'Afmelden voor deze meeting', destroy_confirmation_meeting_participant_url(@meeting, @current_participant), :class => "button", :remote => true
	- else
		= link_to 'Deelnemen aan deze meeting', new_meeting_participant_url(@meeting), :class => "button", :remote => true
		
	%br/
	%br/
	.line

	#tabcontent
		%ul
			%li.active
				%a{:href => "#"}
					%span.icon n
					Programma
			%li
				%a{:href => "#"}
					%span.icon U
					Spreker
			%li
				%a{:href => "#"}
					%span.icon G
					Locatie
			%li
				%a{:href => "#"}
					%span.icon P
					Bijlage
		
		.tabcontentbar
		
		.content
			%h2 Het programma van deze bijeenkomst
			
#main_content
	card