.title
	%h2 Deelnemers
	%small (89)
	%input{:placeholder => "Zoek...", :type => "text"}/
%p Episode V, A NEW HOPE It is a dark time for the Rebellion. Although the Death Star has been destroyed, Imperial troops have driven the Rebel forces from their hidden base and pursued them across the galaxy.  Evading the dreaded Imperial Starfleet, a group of freedom fighters led by Luke Skywalker has established a new secret base on the remote ice world of Hoth. The evil lord Darth Vader, obsessed with finding young Skywalker, has dispatched.
- if @current_participant
	= button_to 'Uitschrijven voor deze meeting', meeting_participant_url(@meeting, @current_participant), :method => :delete
- else
	= link_to 'Deelnemen aan deze meeting', new_meeting_participant_url(@meeting), :remote => true
#main_content
	- @meeting.users.each do |user|
		-user.connections.each do |c|
			= "#{c.user.first_name} #{c.user.last_name}"
	
-# = -#render @participants
	-# if @profile 
		-@connections.each do |x|
			.stack
				.main_card
					.clickarea
					.card.front
						%img{:alt => "Ribbon", :src => "/images/vlaggetje.png"}/
						.card_inside
							%h2= x.first_name + " " + x.last_name
							%p Ik wil deze meeting graag, Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.
					.card.back
						.ribbon
							%a{:href => "#"}
						.card_inside
							- if x.picture_url
								= image_tag x.picture_url
							%h2 Beest
							%p Balalaowo
				.connections
					.card
						.card_inside
							%h2 George Michael
							%p Ik wil deze meeting graag, Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.
					.card
						.card_inside
							%h2 George Michael
							%p Ik wil deze meeting graag, Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.
					.card
						.card_inside
							%h2 George Michael
							%p Ik wil deze meeting graag, Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.
