<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
	<p>
		<label>Email</label>
  	<%= f.text_field :email %>
	</p>

  <p>
		<label>Password</label>
		<%= f.password_field :password %>
	</p>
	<br /><br />
  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %> Remember me</p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>

	<%= render :partial => "devise/shared/links" %><br /><br />
<% end %>