!!!
%html
	%head
		%title MeetUp	
		= stylesheet_link_tag 'backend/reset.css'
		= stylesheet_link_tag 'backend/main.css'
		= stylesheet_link_tag 'backend/css3.css'
		= stylesheet_link_tag 'backend/custom-theme/jquery-ui-1.8.1.custom.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'backend/jquery-1.4.2.min.js'
		= javascript_include_tag 'backend/jquery-ui.min.js'
		= javascript_include_tag 'backend/jquery.wysiwyg.js'
		= javascript_include_tag 'backend/excanvas.js'
		= javascript_include_tag 'backend/jquery.visualize.js'
		= javascript_include_tag 'backend/script.js'
		
	%body
		#bokeh
			#container
				#header
					%h1#logo Admin Control Panel			
					
					%h2
						=image_tag("backend/icons/user_32.png")
						Login
							
				#content
					- if notice
						.notification.success= notice
				
					#login
						.content-box
							.content-box-header	
								%h3 Login
							.content-box-content
								=yield
