!!!
%html
	%head
		%title Portal	
		= stylesheet_link_tag 'admin/reset.css'
		= stylesheet_link_tag 'admin/main.css'
		= stylesheet_link_tag 'admin/css3.css'
		= stylesheet_link_tag 'admin/custom-theme/jquery-ui-1.8.1.custom.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'admin/jquery-1.4.2.min.js'
		= javascript_include_tag 'admin/jquery-ui.min.js'
		= javascript_include_tag 'admin/jquery.wysiwyg.js'
		= javascript_include_tag 'admin/excanvas.js'
		= javascript_include_tag 'admin/jquery.visualize.js'
		= javascript_include_tag 'admin/script.js'
		
	%body
		#bokeh
			#container
				#header
					%h1#logo Admin Control Panel			
					
					%h2
						=image_tag("admin/icons/user_32.png")
						Login
							
				#content
					- if notice
						.notification.success= notice
				
					#login
						.content-box
							.content-box-header	
								%h3 Login
							.content-box-content
								=yield
