.stack.linkedin{:data => {:linkedin => participant.user.uid}}
	.main_card

		.clickarea
		- unless participant == @current_participant
			- unless @current_connected_participants.include? participant
				= link_to new_participant_connection_url(participant), :remote => true do
					.add_connection
			- else 
				= link_to edit_participant_connection_url(participant, @current_connected_participants_connections[@current_connected_participants.index(participant)]), :remote => true do
					.delete_connection
		.card.front
			- unless participant == @current_participant
				- unless @suggested_participants.include? participant
					%a= participant.connections.count
				- else 
					%a= participant.connections.count - 1
			- else
				%a= participant.connections.count - @suggested_participants.count
			.card_inside
				%h2= participant.user.first_name + " " + participant.user.last_name
				%small
				%p= participant.motivation
				- if @suggested_participants.include? participant
					= image_tag("suggestion_ribbon.png", :class => 'suggestion_ribbon')
				- if  @current_connected_participants.include? participant
					= image_tag("connected_ribbon.png", :class => 'suggestion_ribbon')
				
		
		.card.back
			- unless participant == @current_participant
				- unless @suggested_participants.include? participant
					%a= participant.connections.count
				- else 
					%a= participant.connections.count - 1
			- else
				%a= participant.connections.count - @suggested_participants.count
			- unless participant == @current_participant
				- unless @current_connected_participants.include? participant
					.img_add_connection
				- else
					.img_delete_connection

			.card_inside
				= image_tag participant.user.image, :alt => "picture", class: "linkedin_img"
				%h2= participant.user.first_name + " " + participant.user.last_name
				%small= participant.user.description
				.linkedin_url
					%a{href: participant.user.urls} Bekijk LinkedIn profiel
	.connections
	
		- participant.connections.each do |connection|
			- unless connection.status == 'Aanbevolen'
			
				.card
					.card_inside
						%h2= connection.connected_participant.user.first_name + " " + connection.connected_participant.user.last_name
						%p= connection.connected_participant.motivation