%h2 User Page
%ul
	%li
		%b User ID:
		= @user.id
	%li
		%b First Name:
		= @user.first_name
	%li
		%b Last Name:
		= @user.last_name
	%li
		%b Email:
		= @user.email

	%li
		- if @authenticated
			-# Profile
			%h2 LinkedIn Profile:
			%ul
				%li
					%b First Name:
					= @user.first_name
				%li
					%b Last Name:
					= @user.last_name
				%li
					= image_tag @user.image, :alt => 'profile_picture'

				-#%ul
					%li
						%b LinkedIn ID:
						= @uid.id
					%li
						%b First Name:
						= @profile.first_name
					%li
						%b Last Name:
						= @profile.last_name
					%li
						- if @profile.image != nil
							= image_tag @profile.image, :alt => 'profile_picture'
					%li
						%h3 public linkedin
			
			-# Connections
				%h2 Connections	
				- @connections.each do |c|
					%ul
						%li
							%b First Name:
							= c.first_name
						%li
							%b Last Name:
							= c.last_name
						%li
							- if c.image != nil
								= image_tag c.image, :alt => 'profile_picture'
		- else 
			%p LinkedIn not authenticated!
