<h1>Listing admin_participants</h1>

<table>
  <tr>
    <th>User</th>
    <th>Motivation</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_participants.each do |admin_participant| %>
  <tr>
    <td><%= admin_participant.user_id %></td>
    <td><%= admin_participant.motivation %></td>
    <td><%= admin_participant.created_at %></td>
    <td><%= link_to 'Show', admin_participant %></td>
    <td><%= link_to 'Edit', edit_admin_participant_path(admin_participant) %></td>
    <td><%= link_to 'Destroy', admin_participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_admin_participant_path %>
