!!!
%html
	%head
		%title Portal
		= stylesheet_link_tag 'reset.css'
		= stylesheet_link_tag 'main.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'script'
		
		%script{:type => "text/javascript", :src => "http://platform.linkedin.com/in.js"}
			api_key: du6egpmuzdvl
			onLoad: linkedin
			authorize: true
	%body
	
		#overlay
			#centerpack
				.bigspacer
				#modal
					.colorindicator
					.content
					-# %strong Afmelden voor het event "eventnaam"?
						%p Weet je zeker dat je je wilt afmelden voor het event "eventnaam"?
						
						.buttons
							%a{:href => "#"} 
								%span.icon 3
								Ja, afmelden
							%a{:href => "#"}
								%span.icon d
								Nee, annuleren
		#container		
			%header
				%nav
					%ul
						- if params[:action] == "show"
							%li.active
								=link_to 'Meeting informatie', @meeting
						- else
							%li
								=link_to 'Meeting informatie', @meeting
						- if @current_participant.presence
							- if params[:action] != "show"
								%li.active
									=link_to 'Deelnemers', "#{meeting_path(@meeting)}/participants"
							- else
								%li
									=link_to 'Deelnemers', "#{meeting_path(@meeting)}/participants"
								
				#personal_info
					- if @current_user.presence
						- if @current_user.picture_url
							= image_tag @current_user.picture_url
						.info
							Welkom,
							%br/
							%strong= @current_user.first_name + " " + @current_user.last_name
							.dropdown
								%span.icon y
								%span.text Opties
								
								%ul
								
									- if @current_participant.presence
									
										%li
											= link_to 'Afmelden Deelname', destroy_confirmation_meeting_participant_url(@meeting, @current_participant), :remote => true
										
										%li
											= link_to 'Wijzig Motivatie', edit_meeting_participant_url(@meeting, @current_participant), :remote => true
									%li
										= link_to 'Uitloggen', logout_url, :method => 'delete'
			.spacer
			
			=yield
			
			%footer
				%a{:href => "#"}
					= image_tag "topbutton.png", :alt => "Back to top"