!!!
%html
	%head
		%title Portal
		= stylesheet_link_tag 'reset.css'
		= stylesheet_link_tag 'main.css'
		= csrf_meta_tag
	%body
		- if admin_signed_in?
			%b Admin 
			Signed in as #{link_to current_admin.email, admin_path(current_admin)} |
			#{link_to "sign out", destroy_admin_session_path}
		#container
			%header
				%nav
					%ul
						%li
							%a{:href => "#"} Meeting informatie
						%li.active
							%a{:href => "#"} Deelnemers
				#personal_info
					- if @profile
						= image_tag @profile.picture_url
						.info
							Welkom,
							%br/
							%strong= @profile.first_name + " " + @profile.last_name
							.dropdown
								%span.icon y
								%span.text Opties
							= link_to 'Logout', logout_url 
			.spacer
			#information
				- if notice
					%p#notice= notice
				=yield
			
			%footer
		
		%script{:src => "/javascripts/jquery.js"}
		%script{:src => "/javascripts/script.js"}