!!!
%html
	%head
		%title Portal
		= stylesheet_link_tag 'reset.css'
		= stylesheet_link_tag 'main.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'script'
		
		%script{:type => "text/javascript", :src => "http://platform.linkedin.com/in.js"}
			api_key: TMERi4FIyPAGjBhjwBtpd6wT-dBuVYU3fBbbtTuzXGlYgTlDHfT9KK5cZqYRAC5m
			onLoad: linkedin
			authorize: true
	%body

		#overlay
			#centerpack
				#modal
					.colorindicator
					.content
					-# %strong Afmelden voor het event "eventnaam"?
						%p Weet je zeker dat je je wilt afmelden voor het event "eventnaam"?
						
						.buttons
							%a{:href => "#"} 
								%span.icon 3
								Ja, afmelden
							%a{:href => "#"}
								%span.icon d
								Nee, annuleren
		#container		
			%header
			.spacer
			
			#information
			
				- if notice
					.notice.error
						%span.icon !
						.close.icon *
						= notice

			#main_content
				=yield
			
			%footer