!!!
%html
	%head
		%title Portal
		= stylesheet_link_tag 'reset.css'
		= stylesheet_link_tag 'main.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'script'
	%body
		#overlay
			#centerpack
				.bigspacer
				#modal
					.colorindicator
					.content
						%strong Gebruikersovereenkomst
						%p Neem eerst een moment voor onze gebruikersovereenkomst voordat je inlogt.
						
						%p.gebruikersovereenkomst
							%strong Algemeen
							%br/
							La Red netwerken & relatiebeheer, hierna te noemen La Red, verleent u hierbij toegang tot lared.nl (de Website) en nodigt u uit kennis te nemen van haar aanbod. La Red behoudt zich daarbij het recht voor op elk moment de inhoud aan te passen of onderdelen te verwijderen zonder daarover aan u mededeling te hoeven doen.
							%br/
							%br/
							De informatie op de website is bedoeld als vrijblijvend en niet als een concreet aanbod om een overeenkomst te sluiten. Overeenkomsten worden alleen gesloten door aanvaarding van een als zodanig aangeduide offerte van La Red.
							%br/
							%br/
							%strong Beperkte aansprakelijkheid
							%br/
							De op de website aangeboden materialen worden aangeboden zonder enige vorm van garantie of aanspraak op juistheid. Deze materialen kunnen op elk moment wijzigen zonder voorafgaande mededeling van La Red.
							 Gebruikers kunnen zelf inhoud plaatsen op de Website. La Red oefent hierop geen voorafgaande controle of redactioneel toezicht uit. La Red zal klachten over gebruikersinhoud serieus onderzoeken en waar nodig ingrijpen. Neem hiervoor contact met ons op via het contactformulier.
							%br/
							%br/
							%strong Auteursrechten
							%br/
							Alle rechten van intellectuele eigendom betreffende deze materialen liggen bij La Red en haar licentiegevers en gebruikers. Kopiëren, verspreiden en elk ander gebruik van deze materialen is niet toegestaan zonder schriftelijke toestemming van La Red, behoudens en slechts voor zover anders bepaald in regelingen van dwingend recht (zoals citaatrecht), tenzij bij specifieke materialen anders aangegeven is.
							%br/
							%br/
							Het is niet toegestaan webpagina's of individuele elementen (zoals afbeeldingen, video's of interactieve applicaties) van de Website op te nemen in een frameset of via een inline link in een andere webpagina te verwerken, indien daarbij verwarring kan ontstaan over de afkomst van het materiaal.
							%br/
							%br/
							%strong Overig
							%br/
							Deze disclaimer kan van tijd tot tijd wijzigen.
						
						.buttons
							%a{:href => "#"} 
								%span.icon 3
								Accepteren
							%a{:href => "#", :class => "hide_overlay"}
								%span.icon d
								Weigeren
		#bar
		#login_container
		
			= yield
