!!!
%html
	%head
		%title Portal
		= stylesheet_link_tag 'reset.css'
		= stylesheet_link_tag 'main.css'
		= csrf_meta_tag
		
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'rails'
		= javascript_include_tag 'script'
	%body
		#overlay
			#centerpack
				#modal
					.colorindicator
					.content
					-# %strong Afmelden voor het event "eventnaam"?
						%p Weet je zeker dat je je wilt afmelden voor het event "eventnaam"?
						
						.buttons
							%a{:href => "#"} 
								%span.icon 3
								Ja, afmelden
							%a{:href => "#"}
								%span.icon d
								Nee, annuleren
		#bar
		#login_container
		
			%span.icon !
			%h1 Helaas, je bent niet ingelogd.
			
			.line
			
			%h2 Wij maken gebruik van LinkedIn.
			%p Om gebruik te kunnen maken van LaRed MeetUp moet er eerst geautoriseerd worden met linkedin hierna kan je: Episode IV, A NEW HOPE It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.
		
			- if notice
				%p#notice= notice
			=yield
			
			%small Geen LinkedIn account?
			= link_to "Maak een account aan", "https://www.linkedin.com/reg/join?trk=hb_join"
